<!DOCTYPE html>
<html>

<head>
  <title>Game Screen</title>

  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
  <link href="gamescreen.css" rel="stylesheet" />
  <link href="../chat/chat.css" rel="stylesheet" />

</head>

<body>
  <script src="/socket.io/socket.io.js"></script>
  <b-container id="app" class="cont">
    <!-- Outside row -->
    <b-row class="main-row">
      <div id="overlay" onclick="off()">
        <div id="overlayText">
          Choose your Word:
          <ul id="wordList">
            <li v-for="word in wordList" :key="word" onclick="wordChosen(this.innerText.trim())">
              {{word}}
            </li>
          </ul>
        </div>
      </div>
      <div id="waitOverlay"></div>
      <!-- user list -->
      <b-col cols="2" id="userlist-container">
        <p id="players-title">
          PLAYERS
        </p>
        <div class="userlist">
          <ul id="userlist">
            <playerlist v-for="player in playerList" :name="player"></playerlist>
          </ul>
        </div>
      </b-col>


      <script type="text/x-template" id="player-list">
          <li> {{name}} </li>
        </script>

      <!-- rightside screen, divides into 2 more rows-->
      <b-col cols="10" class="d-flex flex-column h-100" id="gamescreen-container">
        <!-- gamescreen, splits into whiteboard and palette -->
        <b-row id="whiteboard-container">
          <b-col cols="9" id="whiteboard">
            <p id="timer"></p>
            <p id="telestrations">
              TELESTRATIONS
            </p>
            <div id="selectedWordWrapper">
              <p id="selectedWord">Your Word is:
              </p>
            </div>
            <canvas id="myCanvas"></canvas>
            <div>
              <img id="chosenImage" height="400px" width="600px">

            </div>
          </b-col>

          <b-col cols="3" id="palette">
            <div>
              <!-- <section class="colorpicker"> -->
              <!-- <div class="pickr"></div> -->
              <button id="startgame" onclick="startGame()" v-if="isLeader">Start</button><br>

              
              <!-- <label class="colorlabel">Choose your color:</label><br><br> -->
              <!-- </section> -->
              <input type="image" src="js/icons/redcolor.png" id="redColor" class="palettebtn"/>
              <input type="image" src="js/icons/blackcolor.png" id="blackColor" class="palettebtn"/>
              <input type="image" src="js/icons/bluecolor.png" id="blueColor" class="palettebtn"/> <br><br>
              <input type="image" src="js/icons/greencolor.png" id="greenColor" class="palettebtn"/>
              <input type="image" src="js/icons/orangecolor.png" id="orangeColor" class="palettebtn"/>
              <input type="image" src="js/icons/yellowcolor.png" id="yellowColor" class="palettebtn"/> <br><br>

              <input type="image" src="js/icons/eraser.png" id="eraser"/>
            </div>
          </b-col>
        </b-row>
        <!-- chat is the entire row -->
        <b-col class="flex-grow-1" id="chat">
          <b-row>
            <div id="messages" class="w-100"></div>
          </b-row>
          <b-row>
            <input type="text" id="input" placeholder="Enter your message...">
          </b-row>
        </b-col>
      </b-col>
  </b-container>
  <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>
  <script src="./whiteboard.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
  <script src=" https://www.gstatic.com/firebasejs/7.14.0/firebase-storage.js "></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="../firebase_config.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"
    integrity="sha256-Ls0pXSlb7AYs7evhd+VLnWsZ/AqEHcXBeMZUycz/CcA=" crossorigin="anonymous"></script>
  <script src="./gamescreen.js"></script>
  <script src="./js/script.js"></script>
  <script src="../chat/chat.js"></script>

  <script>
    function off() {
      document.getElementById("overlay").style.display = "none";
      if (!document.getElementById("selectedWord").innerHTML) {
        assignWord();
      }
      document.getElementById("waitOverlay").style.display = "block";
    }
    function wordChosen(word) {
      console.log(word);
      assignWord(word);
    }
  </script>
</body>

</html>