:root {
    --light-blue: #e8f0ff;
    --grey-font: #767A88;
    --orange-titles: #f3c98b;
    --orange-shadow: #daa588;
    --blue-titles: #84bcda;
    --blue-shadow: #d7e5ea;
    --orange-button: #e5b769;
    --orange-button-hover: #cca158;
    --username: #ca5a5a;
}

body {
    background-color: var(--light-blue);
}

.container-fluid {
    max-width: 97%;
}

#title-bar, #playArea, #infoArea {
    margin-top: 10px;
    border-radius: 10px;
}

#logo {
    padding-left: 10px;
}

#title {
    font-size: 8vw;
    font-weight: bold;
    color: var(--orange-titles);
    text-shadow: .2vw .2vw var(--orange-shadow);
}

#logo, #title {
    padding-left: 20px;
}

#username {
    font-size: 2em;
}

#user-icon, #username {
    padding-right: 15px;
}

#user-banner {
    padding: 0px 5px;
    margin-right: 4px;
}

.btn {
    font-size: 1.5em;
}

#contentArea {
    padding-top: 5px;
}

#playArea {
    margin-right: 5px;
}

#infoArea {
    margin-left: 5px;
}

.header {
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    color: var(--blue-titles);
    text-shadow: .2vw .2vw var(--blue-shadow);
}

.info {
    font-size: 1.1em;
    padding-bottom: 10px;
    color: var(--grey-font);
}

#createRoomButton, #joinRoomButton {
    margin: 10px;
}

input {
    margin: 10px;
    font-size: 2em;
}

.error {
    font-size: 1.5em;
    color: darkred;
    text-align: center;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    border-color: var(--orange-button) !important;
    background-color: var(--orange-button) !important;
}

.btn-primary:hover {
    border-color: var(--orange-button-hover) !important;
    background-color: var(--orange-button-hover) !important;
}

#logoutButton {
    margin-left: 4px;
}