<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Telestrations</title>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="container-fluid">
        <div id="title-bar" class="row">
            <div class="col d-inline-flex flex row">
                <div id="title">Telestrations</div>
            </div>
            <div class="col text-right my-auto">
                <div id="loginButton" class="d-inline-flex flex-row">
                    <template v-if="isLoggedIn">
                        <span id="user-banner" v-bind:style="userBannerStyle">
                            <i id="user-icon" v-bind:class="userIconClasses" v-bind:style="userIconStyle"></i>
                            <span id="username" v-bind:style="usernameStyle">
                                {{ username }}
                            </span>
                        </span>
                        <span class="justify-content-center align-self-center btn btn-primary btn-lg"
                            v-on:click="click">
                            View Profile
                        </span>
                    </template>
                    <template v-else>
                        <div class="justify-content-center align-self-center btn btn-primary btn-lg" v-on:click="click">
                            Login / Create Account
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div id="contentArea" class="row">
            <div id="playArea" class="col">
                <div class="header">Play</div>
                <template v-if="inputVisible">
                    <div class="row">
                        <input class="col" type="text" placeholder=" Enter Room Code" maxlength="4"
                            v-model.trim="roomCode" v-on:keyup.enter="joinRoom" v-on:input="roomCodeChanged">
                    </div>
                </template>
                <template v-if="showError">
                    <div class="error">
                        {{ errorMsg }}
                    </div>
                </template>
                <div class="row">
                    <div id="joinRoomButton" class="col justify-content-center align-self-center btn btn-primary btn-lg"
                        v-on:click="joinRoom">Join Room</div>
                    <div id="createRoomButton"
                        class="col justify-content-center align-self-center btn btn-primary btn-lg"
                        v-on:click="createRoom">{{ altButtonText }}</div>
                </div>
            </div>
            <div id="infoArea" class="col">
                <div class="header">Updates & News</div>
                <div class="info">
                    Version 0 released.
                </div>

                <div class="header">About</div>
                <div class="info">
                    This is a web-based version of the board game Telestrations. Made for SENG 513.
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-storage.js"></script>
    <script src="firebase_config.js"></script>

    <script src="index.js"></script>
</body>

</html>