<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="lobby.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row" style="height: 100vh;">
            <div class="col-md-3" id="background-left">
            <span id="settings">Settings</span>
                <form id="game-settings" action = "gamescreen.html" method="POST">
                    <span id="sub-headers">Room limit</span>
                    <div class="dropdown" id="players">
                        <select class="form-control" id="player-dropdown" @change="changeNumPlayers($event)">
                            <option selected disabled>Number of players</option>
                            <option v-for="player in players" :value="player.id" :key="player.id">{{  player.id    }}
                            </option>
                        </select>
                    </div>
                    <span id="sub-headers">Time per round</span>
                    <div class="dropdown" id="draw-time">
                        <select class="form-control" id="time-dropdown" @change="changeTime($event)">
                            <option selected disabled>Seconds</option>
                            <option v-for="time in times" :value="time.id" :key="time.id">{{  time.id }}</option>
                        </select>
                    </div>
                    
                    <div></div>
                    <center>
                        <input value="Start Game" id="start-button" class="btn btn-primary" onclick="validateForm();"/>
                    </center>

                </form>
            </div>

            <div class="col-md-9" id="background-right">
                <center>
                <span id="players">Players</span>
                </center>
            </div>
        </div>
    </div>
    <script>
        function validateForm() {
            var numPlayers = $("#player-dropdown :selected").val();
            var timeLimit = $("#time-dropdown :selected").val();
            if (numPlayers === "Number of players") {
                alert("Please select the room limit");
            }
            else if (timeLimit === "Seconds") {
                alert("Please select a time limit");
            }
            else {
                $("#game-settings").submit();
            }
            
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="lobby.js"></script>
</body>