<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Telestrations</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
	<link rel="stylesheet" href="profile.css">
</head>

<body>
	<div class="container" id="profile">
		<div class="row" id="top-section">
			<div class="col-2" id="return">
				<button class="btn return-btn" onclick="window.location.href = '/index';"><i
						class="material-icons">keyboard_backspace</i></a></button>
			</div>
			<div class="col-1"></div>

			<div class="col-6" id="banner">
				<div class="row banner-colour" :style="{backgroundColor: userInfo.bannerColor}">
					<div class="col justify-content-center d-flex align-items-center username-font" :style="{color: userInfo.userColor}">{{userInfo.username}}</div>
				</div>
				<div class="row change-btn-row">
					<div class="col change-btn-parent">
						<button v-on:click="setModalColor()" class="btn change-btn" data-toggle="modal" data-target="#changeColour"><i
						class="material-icons">color_lens</i></button>
					</div>
				</div>
			</div>

			<!-- Modal class for changing banner and username colour  -->
			<div class="modal fade" id="changeColour" tabindex="-1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content modal-background">
						<div class="modal-header">
							<div class="col">
								<h2 class="modal-change-title">Change Banner and Username Colour</h2>
							</div>
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
						</div>
						<div class="modal-body modal-changeArea">
							<div class="row modal-banner banner-colour" :style="{backgroundColor: modalInfo.bannerColor}">
								<div class="col justify-content-center d-flex align-items-center username-font" :style="{color: modalInfo.userColor}">
									{{userInfo.username}}</div>
							</div>
							<div class="row modal-top-row">
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchModalColor(0)" class="btn"><i
											class="fas fa-square fa-5x modal-first"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchModalColor(1)" class="btn"><i
											class="fas fa-square fa-5x modal-second"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchModalColor(2)" class="btn"><i
											class="fas fa-square fa-5x modal-third"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchModalColor(3)" class="btn"><i
											class="fas fa-square fa-5x modal-fourth"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchModalColor(4)" class="btn"><i
											class="fas fa-square fa-5x modal-fifth"></i></button></div>
							</div>
							<div class="row modal-bottom-row">
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchModalColor(5)" class="btn"><i
											class="fas fa-square fa-5x modal-sixth"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchModalColor(6)" class="btn"><i
											class="fas fa-square fa-5x modal-seventh"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchModalColor(7)" class="btn"><i
											class="fas fa-square fa-5x modal-eighth"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchModalColor(8)" class="btn"><i
											class="fas fa-square fa-5x modal-nineth"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchModalColor(9)" class="btn"><i
											class="fas fa-square fa-5x modal-tenth"></i></button></div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="col">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="changeColour" id="banner-toggle"
										value="banner" v-model="userColorPicker.option">
									<label class="form-check-label" for="banner-toggle">Banner</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="changeColour"
										id="username-toggle" value="username" v-model="userColorPicker.option">
									<label class="form-check-label" for="username-toggle">Username</label>
								</div>
							</div>
							<div class="col">
								<button v-on:click="saveModalColor()" type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-1"></div>

			<div class="col-2" id="avatar">
				<div class="row avatar-icon">
					<div class="col justify-content-center d-flex align-items-center">
						<i class="avatar-size" :class="userInfo.avatar" :style="{color : userInfo.avatarColor}"></i>
					</div>
				</div>
				<div class="row change-btn-row">
					<div class="col change-btn-parent">
						<button v-on:click="setAvatar()" class="btn change-btn" data-toggle="modal" data-target="#changeAvatar"><i
						class="material-icons">collections</i></button>
					</div>
				</div>
			</div>

			<!-- Modal class for changing Avatar  -->
			<div class="modal fade" id="changeAvatar" tabindex="-1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content modal-background">
						<div class="modal-header">
							<div class="col">
								<h2 class="modal-change-title">Change Avatar</h2>
							</div>
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
						</div>
						<div class="modal-body modal-changeArea">
							<div class="row">
								<div class="col justify-content-center d-flex align-items-center">
									<i class="fa-7x" :class="modalAvatar.avatar" :style="{color : modalAvatar.avatarColor}"></i>
								</div>
							</div>
							<div class="row modal-top-row">
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchAvatar(0)" class="btn"><i
											class="fas fa-5x" :class="avatarModalSelection[0]"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchAvatar(1)" class="btn"><i
											class="fas fa-5x" :class="avatarModalSelection[1]"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchAvatar(2)" class="btn"><i
											class="fas fa-5x" :class="avatarModalSelection[2]"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchAvatar(3)" class="btn"><i
											class="fas fa-5x" :class="avatarModalSelection[3]"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchAvatar(4)" class="btn"><i
											class="fas fa-5x" :class="avatarModalSelection[4]"></i></button></div>
							</div>
							<div class="row modal-bottom-row">
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchAvatar(5)" class="btn"><i
											class="fas fa-5x" :class="avatarModalSelection[5]"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchAvatar(6)" class="btn"><i
											class="fas fa-5x" :class="avatarModalSelection[6]"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchAvatar(7)" class="btn"><i
											class="fas fa-5x" :class="avatarModalSelection[7]"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchAvatar(8)" class="btn"><i
											class="fas fa-5x" :class="avatarModalSelection[8]"></i></button></div>
								<div class="col justify-content-center d-flex align-items-center"><button v-on:click="switchAvatar(9)" class="btn"><i
											class="fas fa-5x" :class="avatarModalSelection[9]"></i></button></div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="col">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="changeAvatar" id="avatar-toggle"
										value="avatar" v-model="avatarPicker.option">
									<label class="form-check-label" for="avatar-toggle">Avatar</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="changeAvatar" id="colour-toggle"
										value="avatar-color" v-model="avatarPicker.option">
									<label class="form-check-label" for="colour-toggle">Colour</label>
								</div>
							</div>
							<div class="col">
								<button v-on:click="saveAvatar" type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row" id=bottom-section>
    <div class="col" id="previous"><span id="sub-title">PREVIOUS GAMES</span>

				<div class=" row first-content d-flex align-items-center">
					<div class="col vote">{{prevSketchbook.vote[0]}}</div>
					<div class="col">
						<button :disabled="checkNA(0,0)" v-on:click="setSketchbook(0,0)" class="btn" data-toggle="modal" data-target="#viewSketch"><i
								class="far fa-edit sketchbook-size"></i></button>
					</div>
					<div class="col word">{{prevSketchbook.word[0]}}</div>
				</div>

				<div class=" row content d-flex align-items-center">
					<div class="col vote">{{prevSketchbook.vote[1]}}</div>
					<div class="col">
						<button :disabled="checkNA(0,1)" v-on:click="setSketchbook(0,1)"class="btn" data-toggle="modal" data-target="#viewSketch"><i
								class="far fa-edit sketchbook-size"></i></button>
					</div>
					<div class="col word">{{prevSketchbook.word[1]}}</div>
				</div>

				<div class=" row content d-flex align-items-center">
					<div class="col vote">{{prevSketchbook.vote[2]}}</div>
					<div class="col">
						<button :disabled="checkNA(0,2)" v-on:click="setSketchbook(0,2)" class="btn" data-toggle="modal" data-target="#viewSketch"><i
								class="far fa-edit sketchbook-size"></i></button>
					</div>
					<div class="col word">{{prevSketchbook.word[2]}}</div>
				</div>

				<!-- Modal class for viewing sketchbook -->
				<div class="modal fade" id="viewSketch" tabindex="-1">
					<div class="modal-dialog modal-lg">
						<div class="modal-content modal-background">
							<div class="modal-header">
								<div class="modal-vote">{{displaySketchbook.vote}}</div>
								<div class="col modal-word">{{displaySketchbook.word}}</div>
								<button type="button" class="close" data-dismiss="modal">
									<span>&times;</span>
								</button>
							</div>
							<div class="modal-body modal-sketchArea">
								<div class="modal-sketchbook"><img class="img-size" v-bind:src="currentSketchbook"/></div>
								<div class="modal-whichUser">{{action}} By: <span>{{currentOwner}}</span> <span
										class="counter">{{displaySketchbook.counter}}/{{displaySketchbook.counterSize}}</span></div>
							</div>
							<div class="modal-footer">
								<div class="col">
									<button v-on:click="counterCheck(-1)" class="btn"><i class="fas fa-arrow-circle-left fa-3x"></i></button>
									<button v-on:click="counterCheck(+1)" class="btn"><i class="fas fa-arrow-circle-right fa-3x"></i></button>
								</div>
								<div v-if="displaySketchbook.showSaveButton" class="col">
									<label class="radio-inline"><input class="radio-space" type="radio" name="optradio" value="1" v-model="displaySketchbook.saveSlot">Slot 1</label>
									<label class="radio-inline"><input class="radio-space" type="radio" name="optradio" value="2" v-model="displaySketchbook.saveSlot">Slot 2</label>
									<label class="radio-inline"><input class="radio-space" type="radio" name="optradio" value="3" v-model="displaySketchbook.saveSlot">Slot 3</label>
								</div>
								<div class="col">
									<button v-on:click="saveBook" v-if="displaySketchbook.showSaveButton" type="button" class="btn btn-primary" data-dismiss="modal">Save
										Sketchbook</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col" id="saved"><span id="sub-title">SAVED GAMES<div>{{update}}</div></span>

				<div class=" row first-content d-flex align-items-center">
					<div class="col vote">{{savedSketchbook.vote[0]}}</div>
					<div class="col sketch">
						<button :disabled="checkNA(1,0)" v-on:click="setSketchbook(1,0)" class="btn" data-toggle="modal" data-target="#viewSketch"><i
								class="far fa-edit sketchbook-size"></i></button>
					</div>
					<div class="col word">{{savedSketchbook.word[0]}}</div>
				</div>

				<div class=" row content d-flex align-items-center">
					<div class="col vote">{{savedSketchbook.vote[1]}}</div>
					<div class="col">
						<button :disabled="checkNA(1,1)" v-on:click="setSketchbook(1,1)" class="btn" data-toggle="modal" data-target="#viewSketch"><i
								class="far fa-edit sketchbook-size"></i></button>
					</div>
					<div class="col word">{{savedSketchbook.word[1]}}</div>
				</div>

				<div class=" row content d-flex align-items-center">
					<div class="col vote">{{savedSketchbook.vote[2]}}</div>
					<div class="col">
						<button :disabled="checkNA(1,2)" v-on:click="setSketchbook(1,2)" class="btn" data-toggle="modal" data-target="#viewSketch"><i
								class="far fa-edit sketchbook-size"></i></button>
					</div>
					<div class="col word">{{savedSketchbook.word[2]}}</div>
				</div>

			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
	<script src="../firebase_config.js"></script>
	
	<script src="profile.js"></script>
</body>

</html>